<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<homepage>
			<settings>
				<featured_category_id>35</featured_category_id>
			</settings>
		</homepage>
		<prices>
			<settings>
				<default_margin>175</default_margin>
			</settings>
		</prices>
	</default>
</config>
