<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_address_format">
        <observer name="tropical_reefs_pdf_template_observer_customer_address_format" instance="TropicalReefs\PdfTemplates\Observer\Customer\AddressFormat"/>
    </event>
</config>
