<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
		<arguments>
			<argument name="extendedConfigData" xsi:type="array">
				<item name="featured_category_id" xsi:type="string">homepage/settings/featured_category_id</item>
                <item name="brand_category_id" xsi:type="string">prices/settings/brand_category_id</item>
                <item name="default_margin" xsi:type="string">prices/settings/default_margin</item>
			</argument>
		</arguments>
	</type>
</config>
